artifacts/*
!artifacts/.gitkeep
!artifacts/logs/
artifacts/logs/*
!artifacts/logs/.gitkeep
!artifacts/logs/python/
!artifacts/logs/python/.gitkeep
artifacts/logs/python/*
!artifacts/logs/python/.gitkeep
!artifacts/logs/ts/
!artifacts/logs/ts/.gitkeep
artifacts/logs/ts/*
!artifacts/logs/ts/.gitkeep
!artifacts/logs/go/
!artifacts/logs/go/.gitkeep
artifacts/logs/go/*
!artifacts/logs/go/.gitkeep
!artifacts/logs/cpp/
!artifacts/logs/cpp/.gitkeep
artifacts/logs/cpp/*
!artifacts/logs/cpp/.gitkeep

data/*
!data/.gitkeep
!data/python/
!data/python/.gitkeep
data/python/*
!data/python/.gitkeep
!data/ts/
!data/ts/.gitkeep
data/ts/*
!data/ts/.gitkeep
!data/go/
!data/go/.gitkeep
data/go/*
!data/go/.gitkeep
!data/cpp/
!data/cpp/.gitkeep
data/cpp/*
!data/cpp/.gitkeep
